.panelclassoverrides{

  .cellName-178{
    cursor: pointer; 
    font-size: 21px!important;
  }


  .ms-DetailsHeader-cellName{
    cursor: pointer; 
    font-size: 21px!important;
  }

  .ms-TooltipHost{
    cursor: pointer; 
    font-size: 21px!important;

  }
  .root-199{
    cursor: pointer; 
    font-size: 21px!important;

  }




    .ms-DetailsRow-cell{
     cursor: pointer; 
     margin: 11px!important;
     font-size: 21px!important;
     
    }
  
      padding-top: 11px;
      .ms-font-m{
          padding-top: 11px;
          
      }
  
      .HeadingofGrid{
          font-size: 15px;
          background-color: blue;
        }
  
        .TotalSummaryGrid
    {
      padding-top: 11px;
      border-top: 1px solid gray;
      margin-top: 11px;
      background-color: lightgray;
      color: dark;
      font-weight: 100;
      font-size: 21px;
    }
  
    .myHEadingGrid{
        padding-left: 11px;
    }
  
    
  
  }